
  <nav class="navbar navbar-expand-lg bg-dark">
  
    <div class="container-fluid">
        <a mat-card-title class="navbar-brand" href="#">
            <img mat-card-sm-image src="../../../assets/APLogo-20-20.png" alt="logo arg prog"  class="">
            
          </a>
      <a class="navbar-brand" href="#">#YoProgramo</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span><i class="bi bi-list"></i></span>
        
      </button>
      <div class="collapse navbar-collapse " id="navbarNavDropdown">
        <ul class="navbar-nav ms-auto">
          
         <li> <a class="nav-link active" target="_blank" href="https://www.linkedin.com/in/nicolas-lagardo/" aria-current="page">
            <button mat-icon-button><i class="bi bi-linkedin"></i>
          </button></a></li>
         <li> <a class="nav-link active" target="_blank" href="https://www.github.com/nicolagardo/" aria-current="page">
            <button mat-icon-button><i class="bi bi-github"></i>
          </button></a></li>
         <li> <a class="nav-link active" target="_blank" href="https://www.facebook.com/nicolas.lagardo/" aria-current="page">
            <button mat-icon-button><i class="bi bi-facebook"></i>
          </button></a></li>
         <li> <a class="nav-link active" target="_blank" href="https://www.instagram.com/nicolagardo5/" aria-current="page">
            <button mat-icon-button><i class="bi bi-instagram"></i>
          </button></a></li>
         <li> <a class="nav-link active" target="_blank" href="https://www.twitter.com/nicolagardo" aria-current="page">
            <button mat-icon-button><i class="bi bi-twitter"></i>
          </button></a></li>
          
          
          
          <ng-container *ngIf="isAdmin; else viewAdmin">
            <li class="nav-item">
              <a class="nav-link active px-4" type="submit"(click)="changeAdmin()" aria-current="page"  routerLink="/login"><button mat-icon-button >Login <mat-icon>login</mat-icon></button></a>
            </li>

          </ng-container>
         
          
         
          
        </ul>
      </div>
    </div>
    
  </nav>
  <ng-template #viewAdmin>
    <li class="nav-item">
      <a class="nav-link active px-4" type="submit" aria-current="page"  (click)="logout()"  (click)="isAdmin = !isAdmin"><button mat-icon-button >
        Logout <mat-icon>logout</mat-icon>
      </button></a>
    </li>
    
  </ng-template>