<div class="container">
  <div class="row justify-content-end titulo bg-dark">  
    <div class="col-4">
      <h1>Educación</h1>
    </div>
    <div class="col-4">
      <ng-container *ngIf="isAdmin">
        <app-boton-add (click)="onAddEdu()" (click)="vari = true"></app-boton-add>
      </ng-container>
    </div>
  </div>

  <div class="row my-4" *ngFor="let ed of educations">
    <mat-card>

      <div class="col">
        <h2>Nivel: {{ed.tituloEdu}} </h2>
        <p>Inicio: {{ed.fechaInitEdu}}</p>
        <p>Final: {{ed.fechaEndEdu}}</p>
        <p>Titulo: {{ed.descriptionEdu}}</p>
      </div>
      <ng-container *ngIf="vari; else addEdu">
        <h1>No tocaste el boton +</h1>
      </ng-container>
      
      <div class="col">
        <ng-container *ngIf="isAdmin">
          <app-botonera></app-botonera>  
        </ng-container>
      </div>
    </mat-card>
  </div>
  <ng-template #addEdu>
    <form #formAdd="ngForm" (ngSubmit)="onAddEdu()">
      <label for="">Titulo</label>
      <input type="text" name="titleUser" [(ngModel)]="educations.tituloEdu">
      <label for="">Fecha Inicio</label>
      <input type="text" name="fechaInitEdu" [(ngModel)]="educations.fechaInitEdu">
      <label for="">Fecha Fin</label>
      <input type="text" name="fechaEndEdu" [(ngModel)]="educations.fechaEndEdu">
      <label for="">Descripción</label>
      <input type="text" name="descriptionEdu" [(ngModel)]="educations.descriptionEdu">
      <button type="submit" >Save</button>
    </form>
  </ng-template>
</div>