<div class="container">
    <div class="row">
        
            <app-foto></app-foto>
                <div class="row titulo">
                    <div class="col-8">
                        <h1>Acerca de mí</h1>
                    </div>
                    
                    
                </div>
            <div class="row my-4 align-items-start">
                <mat-card>

                    <div class="col-8">
                        <ng-container *ngIf="isAdmin">
                            <h1>{{usuario.name}}</h1>
                            <h1 >{{usuario.lastname}}</h1>
                            <h2>{{usuario.descriptionUser}}</h2>
                        </ng-container>
                    </div>
                    
                    <div class="col">
                        <app-botonera [about]="false"></app-botonera>
                    </div>
                </mat-card>
            </div>
        
    </div>
   
</div>
