
<div class="container">
  <div class="row justify-content-end titulo">  
    <div class="col-4">
      <h1>Hard & Soft Skills</h1>
    </div>
    <div class="col-4">
      <ng-container *ngIf="isAdmin">
        <app-boton-add></app-boton-add>
      </ng-container>
    </div>
  </div>

  <div class="row align-items-start" *ngFor="let skill of skills">
    <div class="col">
      <h2>Nivel: {{skill.tituloEdu}} </h2>
      <p>Inicio: {{skill.fechaInitEdu}}</p>
      <p>Final: {{skill.fechaEndEdu}}</p>
      <p>Titulo: {{skill.descriptionEdu}}</p>
    </div>
    
    <div class="col">
      <ng-container *ngIf="isAdmin">
        <app-botonera></app-botonera>  
      </ng-container>
    </div>
  </div>
</div>