<!-- <div class="container">
  <form >
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" [(ngModel)]="usuario.email" required="">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Password</label>
        <input type="password" class="form-control" id="exampleFormControlInput1" placeholder="pass" [(ngModel)]="usuario.password">
      </div>
      <div class="row">
        
        <button class="btn btn-primary" (click)="Ingresar()">Ingresar</button>
      </div>

  </form>
      <a routerLink="/home" >Volver al Home</a>
</div> -->
<div class="login form">
  <mat-card>
    <mat-card-content>
      <h1>LOGIN</h1>
      
      <mat-form-field class="full-width-input">
        <input type="email" matInput placeholder="email" required>
      </mat-form-field>
      <mat-form-field class="full-width-input">
        <input type="password" matInput placeholder="password" required>
      </mat-form-field>
      <button type="submit" (click)="Ingresar($event)" mat-raised-button color="primary"> Login</button>
      
        <a routerLink="/home" type="button" color="primary">Volver al Home</a>
      
    </mat-card-content>

  </mat-card>
</div>