<!-- <div class="container">
  <form >
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" [(ngModel)]="usuario.email" required="">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Password</label>
        <input type="password" class="form-control" id="exampleFormControlInput1" placeholder="pass" [(ngModel)]="usuario.password">
      </div>
      <div class="row">
        
        <button class="btn btn-primary" (click)="Ingresar()">Ingresar</button>
      </div>

  </form>
      <a routerLink="/home" >Volver al Home</a>
</div> -->
<div class="login form">
  <mat-card>
    <mat-card-content >
      <h1>LOGIN</h1>
      
      <!-- <form  #f="ngForm" (ngSubmit)="test()"*/> -->
      
      <form #f="ngForm">

        <mat-form-field class="full-width-input" id="f">
          <input type="text" [name]="nameUser" matInput placeholder="Username" 
          [(ngModel)]="nameUser" required>
        </mat-form-field>
        <mat-form-field class="full-width-input">
          <input type="password"[name]="password" matInput placeholder="Password"
          [(ngModel)]="password" required>
        </mat-form-field>
        <button type="submit" (click)="onLogin()" mat-raised-button color="primary" [disabled]="!f.valid"> Login</button>
      </form>
    
      
        
          <div *ngIf="f.submitted && isLoggedFail" style="background-color:#f5f5f5; color:red" color="primary">
            {{erroMsj}}
          </div>
        
        <a routerLink="/home" type="button" color="primary">Volver al Home</a>
      
    </mat-card-content>

  </mat-card>
</div>